@CHARSET "UTF-8";

/*Habillage de l'entête des menus'*/
.ui-panel.ui-widget .ui-panel-titlebar.ui-corner-all{
    background:#3c8dbc; 
}

/*Titre des menus*/
div.ui-panel .ui-panel-title{
    color:white !important;
}

.submenu {
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    margin-top: 7px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.submenu h2 {
    margin-top: 0px;
}

/*Pour modifier le nombre de lignes par menus*/
.submenu .menuItem {
    width: 30%;
    float: left;
    /*border: 2px solid #F5F9FE;*/
}

.submenu .menuItem img {
    margin-right: 10px;
    height: 16px;
}

.submenu .menuItem a {
    font-weight: bold;
    font-family: 'Trebuchet MS', Arial, georgia, 'Trebuchet MS', Tahoma,
        Verdana, 'Times New Roman', Times, serif;
    color: #555;
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 5px 5px 5px 5px;
}

.submenu div.active-row {
    border: 2px solid #BBC9D6;
    background-color: #ECF3FE;
}